
  
  html, body {
    height: 100%;
    margin-top: 60px;
  }
  
  *:focus {
      outline: none;
  }
  
  #commandprompt {
    position: fixed;
    bottom: 5%;
    left: 1%;
  }
  
  #bottomright {
    position: fixed;
    bottom: 5%;
    right: 1%;
  }
  
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
   
  
  
  
input {
    border: 0;
    width: 100px;
  }
  
  #page {
    
    width: 50%;
    height: 100%;
    border: none;
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: none;
  }