* {
    background-color: #333344;
  }
  
  html, body {
    height: 100%;
    margin-top: 60px;
  }
  
  *:focus {
      outline: none;
  }
  
  p {
    color: #00FFFF;
    font-size: 20px;
  }
  
  span {
    color: #00FFFF;
    font-size: 20px;
  }
  
  #commandprompt {
    position: fixed;
    bottom: 5%;
    left: 1%;
  }
  
  #bottomright {
    position: fixed;
    bottom: 5%;
    right: 1%;
  }
  
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
   
  
  
  
  input {
    color: #00FFFF;
    font-size: 22px;
    border: 0;
    width: 100px;
  }
  
  #page::placeholder {
    color: #FFFFFF;
    opacity: .5; /* Firefox */
  }
  
  #commandprompt::placeholder {
    color: #00FFFF;
    opacity: 1;
  }
  
  #page {
    
    width: 60%;
    height: 100%;
    color: #FFFFFF;
    border: none;
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size:20px;
    outline: none;
  }