@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

* {
    background-color: #333344;
    font-family: 'Merriweather', serif;
    font-size: 16px;
}

#page {
    color: #FFFFFF;
}

input {
    color: #00FFFF;
}
p {
    color: #00FFFF;
}

span {
    color: #00FFFF;
}

#page::placeholder {
    color: #FFFFFF;
    opacity: .5; /* Firefox */
  }
  
  #commandprompt::placeholder {
    color: #00FFFF;
    opacity: 1;
  }